---
import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro';

interface Props {
    title?: string;
    description?: string;
}

const { title = "Default Title", description = "Default Description" } = Astro.props as Props;
---

<html lang="en">
    <MainHead {title} {description}></MainHead>
	<body>
        <Nav />
		<main>
            <slot>Default</slot>
        </main>
        <Footer></Footer>
	</body>
</html>

<style>
    body {
        padding: 40px;
    }
</style>